---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Agosto 2024',
        title: 'Instructor de vela - EVS',
        description: 'Enseñanza de vela en catamarán y windsurf'
    },

    {
        date: '2020-2024',
        title: 'Diseñador Grafico y 3D enviroment artist',
        description: 'Especializado en crear los entornos 3D del futuro asi como enriquecer la expericiecia del usuario en el mundo digital',
        link: 'https://www.artstation.com/lluanllogfx'
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">  
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience} />
            </li>
        ))
    }                
</ol>

